.containerDashboard{
  display: flex;
  width: 100%;  
  padding: 2px;
  position: relative;
}
.dashboard { 
  width: 100%;
  position: relative;
  display: grid;
 
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "summary lastSales"
                        "resumeSales lastSales" 
                        "options lastSales"
                        "grafics grafics"   ;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  
}
@media screen and (max-width: 768px) {
  .dashboard{
    grid-template-columns: 1fr;
    grid-template-areas: "summary"
                         "resumeSales"
                          "options"
                          "grafics"
                          "lastSales";
  }
  
}
.lastSales{
  grid-area: lastSales;
  width: 100%; 
  height: 100%;
  box-shadow: 0px 1px 15px -5px var(--color-blue-green);
  border-radius: 10px;
  padding: 1rem;
  
}
.lastSales table{
  width: 100%;
  border-collapse: collapse; 
}
.lastSales table th{
  background: var(--color-blue-green);
  color: var(--font-color-inverse);
  padding: 10px;  
}
.lastSales table td{
  padding: 10px;
  border-bottom: 1px solid var(--color-blue-green);
}

.lastSales table tr:hover{
  background: var(--color-blue-green);
  color: var(--font-color-inverse);
}
.lastSales table tr:last-child td{
  border-bottom: none;
}
.section{}
.grafics{
  grid-area: grafics;
  box-shadow: 0px 1px 15px -5px var(--color-blue-green);
  padding: 1rem;
  border-radius: 10px;
  align-self: center;
  justify-items: center;
  display: grid;
  position: relative;
  color: var(--font-color) ; 
  padding: .2rem;
  border-radius: 10px;

}
.grafics div:first-child{
  width: 100%;
}

.summary{
  grid-area: summary;
  width: 100%;
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(150px,1fr));
  gap: 1rem;
  box-shadow: 0px 1px 15px -5px var(--color-blue-green);
  padding: 1rem; 
  border-radius: 10px;
  align-self: center;
  justify-items: center;
  
}
.dashboard h1 {
  margin-top: 15px;
  grid-column: 1/-1;
  margin-bottom: 10px;
}
.options{
  grid-area: options;
  margin-top: 1rem; 
  box-shadow: 0px 1px 15px -5px var(--color-blue-green);
  padding: 1rem;
  border-radius: 10px;
  display: grid;
  align-self: center;
  justify-items: center;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap: 1rem;
}
 
.options h2{
  grid-column: 1/-1;
  font-weight: 700;
}
 
.resumeSales{
  grid-area: resumeSales;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(170px,1fr));
  gap: 1rem;
  align-items: center;
  justify-items: center;
  text-align: center;
}
