


.section{
  background: var( --color-background-thme); 
  display: flexbox;
  min-height: 100vh; 
}
 
 
.backgroundLayoutContent i:nth-child(1){
  
 
  width: 100px;
  height: 100px;
  background-color: #3ce753fb; /* Color de fondo */
  border-radius: 5px; 
  filter: blur(1px);
}
.backgroundLayoutContent i:nth-child(2){
 
 
  width: 50px;
  height: 50px;
  background-color: #ec0101e3; /* Color de fondo */
  border-radius: 5px; 
  filter: blur(1px);
}
 
.backgroundLayoutContent  i:nth-child(3){
 
  width: 50px;
  height: 50px;
  background-color: #ec018ae3; /* Color de fondo */
  border-radius: 5px; 
  filter: blur(1px);
}
.backgroundLayoutContent i:nth-child(4){

  width: 100px;
  height: 100px;
  background-color: #3cb7e7fb; /* Color de fondo */
  border-radius: 5px; 
  filter: blur(1px);
}


.content{
  position: relative; 
  z-index: 10;
  display: flex;
  flex-direction: row;
  padding: 10px;  
  width: 100%;
  
}

.menulinks{
  position: relative; 
  box-shadow: 0px 2px 15px -1px var(--color-blue-green);
  border-radius: 5px;
  overflow: hidden; 
}
.menulinks:first-child{ 
  background: none;
  box-shadow: none;
  justify-items: center; 
  grid-area: menu;   
  margin-right: 5px;
  width: 210px;
}
.menulinks:nth-child(2){ 
  margin-top:  3rem;;
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: main;
  width: 100%;
  margin-bottom: 3rem;
 
}
.menulinks:nth-child(2) main{
  width: 100%;
  padding: 10px;
  z-index: 0;
  
}
header{
  position: fixed;
  top: 0; 
  width: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  z-index: 100;
  color: #fff;
 
}
aside{
  position: fixed; 
  left: 0; 
  display: flex;  
  padding: 0 10px;
  z-index: 100;
  color: #fff;
 

}
main{
  margin-left: 180px;
  width: auto;
  position: relative; 
  margin-top: 3.5rem;
  padding: 1rem;
  width: -webkit-fill-available;
}
main div{ 
  position: relative;
}
footer{
  position: relative; 
  width: 100%;  
  display: flex;
  justify-content: center;
  align-items: center; 
  color: #fff;
  height: 100%;
  padding: 1rem;
  min-height: 4rem;
  margin-bottom: 3.5rem;

}
@media (max-width: 768px){
  main{
    margin-left: 0;
    width: 100%;
  }
  aside{    
    position: absolute;
    width: 100%; 
    align-items: end;
    bottom: 0;
    height: auto;
    justify-content: center; 
  }
  .content{ 
    flex-direction: column;
    justify-content: center; 
  }
  .menulinks:nth-child(1){
    display: flex;
    align-items: center;
    flex-direction: column; 
    position: fixed;  
    z-index: 100;
    bottom: 0.2rem;
    width: 100%;
 
  }
  
}